@using System.Web.Optimization
<!DOCTYPE html>

<html lang="en">
<head>


    <meta charset="utf-8" />
    <title>Your Website &bull; @ViewBag.Title</title>

    @Styles.Render("~/css")
</head>
<body class="container">
   
                <div>
                    @RenderBody()
                </div>
           

        <div class="row-fluid">
            <footer id="footer">
                <br />
                <p>AON Coding test by Alex</p>
            </footer>
        </div>
    
    @Scripts.Render("~/js")
    @RenderSection("scripts", required: false)



  
</body>
</html>
